{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<div>
    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                            </path>
                        </svg>
                    </a>
                </li>
                <!-- <li class="breadcrumb-item"><a href="#">Volt</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Encuentro</li>
            </ol>
        </nav>

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Encuentro</h1>
                <p class="mb-0">Crear un nuevo encuentro.</p>
            </div>
            <div>
                <a href="{{request.META.HTTP_REFERER}}"
                    class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Volver </a>
            </div>
        </div>
    </div>
    {% load crispy_forms_tags %}

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-0 shadow components-section">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- {% for field in form.visible_fields %}
                        <div class="mb-3">
                            {{ field.label_tag }} {{ field }}
                        </div>
                        {% endfor %} -->
                        <!-- {{ form|crispy }} -->
                        {% crispy form %}
                        <!-- <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            
                        </div> -->
                        <!-- <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-secondary">Volver</button></a> -->
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

    
   $(function () {
      $.datetimepicker.setLocale('es');
      $("#id_fecha").datetimepicker({
        timepicker:false,
        format:'d/m/Y'
      });

      $("#id_hora").datetimepicker({
        datepicker:false,
        format:'H:i'
      });
    });
</script>
{% endblock javascripts %}